<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="owin:AutomaticAppStartup" value="false" />-->
    <add key="log" value="/log/EMP2016/" />
    <add key="isArrearageAlarm" value="true" />
    <add key="ApplicationID" value="912C5B27-36DE-405D-A654-69A01B8B9F0C" />
    
    
    <!-- 电子邮件服务器相关配置 Conf-->
    <!--smtp服务器地址-->
    <add key="SmtpServer" value="localhost" />
    <!--smtp端口-->
    <add key="SmtpPort" value="25" />
    <!--系统发送通知、提醒等邮件使用的账号-->
    <add key="SmtpUser" value="iservice@fjnewcap.cn" />
    <!--对应的密码-->
    <add key="SmtpPwd" value="emp@newcap" />
    <!--下面两个是否需要开启ssl等邮件发送参数，备用配置，暂不启用，不需要修改-->
    <add key="SmtpEnableSsl" value="true" />
    <add key="SmtpPwdCheckEnable" value="true" />
    <!-- End of Conf -->
    
    <!-- 短信配置，使用阿里大鱼接口 Conf-->
    <!--用户申请的阿里大鱼短信key和秘钥，目前配置是公司的，上线根据用户需求进行配置-->
    <add key="SMSAppkey" value="23498044" />
    <add key="SMSSecret" value="cc59f3ebcceab75882ef0383447371db" />
    <!--发送公司名称-->
    <add key="SMSSenderName" value="新开普" />
    <!--发送的短信模板id-->
    <add key="SMSTemplateId" value="SMS_8890094" />
    <!--修改密码模板id,验证码长度4位-->
    <add key="SMSPwdTemplateId" value="SMS_8900004" />
    <!--验证码显示的应用名称-->
    <add key="SystemName" value="EMP" />
    <!--此字段开启才发送短信-->
    <add key="SMSIsSend" value="false" />
    <!--每次批量发送短信，最多同时发送条数，用于部分地区演示或使用，不限制可设置为如9999999-->
    <add key="SMSMaxSendListNum" value="5" />
    <!-- End of Conf -->
    
    <!-- 极光移动端数据推送使用配置 Conf-->
    <add key="JpushAppkey" value="a0e65e11de3a5e9f095d9e58" />
    <add key="JpushSecret" value="d56c4854cbaea460bc1ce9e8" />
    <!-- jpush of Conf -->
    
    <!-- aliPay Conf-->
    <!--回调地址，当缴费成功阿里支付平台向此地址发送成功的确认消息-->
    <add key="BackUrl" value="http://58.22.30.102:5002/service/api/HistoryBills/PayOk" />
    <!-- aliPay of Conf -->
    
    <!-- 收费开始时间，在此时间前的能耗不收取费用 -->
    <add key="BillStartTime" value="2015-01-01 00:00:00" />
    
    
    <!-- 进行设备远程控制，发送xml指令至的服务器端口 -->
    <add key="Remote:Port" value="8000" />
    <!-- 进行设备远程控制，发送xml指令至的远程服务器Ip地址 -->
    <add key="Remote:IpAddress" value="172.16.1.176" />
    
    
    <!-- 管理员用户Id -->
    <add key="UserId:Administrator" value="71DBAADB-07F6-40AD-A9AF-7C04841585B9" />


    <!-- 漏损检测相关配置 Conf-->
    <!--漏损告警配置-微小用量放大倍数  平均用量小于0.001，则当前用量>0.01时进行告警 -->
    <add key="OverMultipleMinValue" value="0.001" />
    
    <!--平均用量微小，在0.01度或0.01吨下，则当前用量放大5倍时进行告警-->
    <add key="OverMultipleMin" value="5" />
    <add key="OverMultipleMin2Value" value="0.01" />
    
    <!--漏损告警配置 -小用量放大倍数  //平均用量小，在0.1度或0.1吨下，则当前用量放大3倍时进行告警-->
    <add key="OverMultipleMin2" value="3" />
    <add key="OverMultipleNormalValue" value="0.1" />
    <!--漏损告警配置 -普通用量放大倍数  平均用量普通，在5度或5吨下，则当前用量放大2倍时进行告警-->
    <add key="OverMultipleNormal" value="2" />
    <add key="OverMultipleLargeValue" value="5" />
    <!--漏损告警配置 -大用量放大倍数  平均用量大，在5度或5吨以上，则当前用量放大1.5倍时进行告警-->
    <add key="OverMultipleLarge" value="1.5" />

    <!--漏损告警灵敏度配置，越大越高 -->
    <add key="Sensitivity" value="1" />
    <!-- 漏损检测相关配置 end-->

    <!-- Ukey检测相关配置 end-->
    <add key="UkeyIsCheck" value="false" />
    <add key="UkeyPath" value="c:\VC_RED" />
    <!-- Ukey检测相关配置 end-->

    <!-- 基础信息配置 end-->
    <add key="TopOrgName" value="测试用xxxx学校" />
    <add key="IsNeedPay" value="true" />
    <!-- 基础信息配置 end-->
    
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
  </system.web>
  <connectionStrings>
  <add name="EmpContext" connectionString="data source={{server}};initial catalog={{database}};persist security info=True;user id={{uid}};password={{pwd}};MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!--<remove name="FastReportHandler"/>
      <add name="FastReportHandler" path="FastReport.Export.axd" verb="*" type="FastReport.Web.Handlers.WebExport" />-->
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,POST,PATCH,DELETE,OPTIONS,PUT" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,PATCH,OPTIONS,DELETE" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
</configuration>